/* Global css */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1b53;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  fnt-style: normal;
  font-weight: 400px;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github) solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.95);
  gap: 16px;
}

.btn-github:hover,
.btn-github:focus {
  color: var(--github);
  background-color: var(--white);
}

/* Global css ends*/

/* Heading css */

/* Heading 1 */

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
}

/* Heading 2 */

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

/* Heading 3 */

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Paragraphs text large medium small*/

.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section titles */

/*  Skills & About me */

.section-title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

/* Portfolio, Testimonial & Contact */

.sub-title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Section titles ends*/

/* Hero section style */

.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero--section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

/* .hero--section__content-box > button {
  margin-top: 21.333px;
} */

.hero--section__title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.hero--section__title--color {
  color: var(--primary);
}

.hero--section__description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section__img {
  display: flex;
}

.hero--section__img > img {
  width: 100%;
  height: 100%;
}

/* Hero section style ends */
